<%- include("partials/header.ejs") %>
<% if (locals.post) {  %>
  <div class="center_form ">
    <h1 id="form-title">Provide the information to be updated</h1>
    
    <div class="form_container" >
    <form action="/api_update/<%= post.id %>" method="post">
      <div class="form_item">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= post.name %>" id="name" placeholder="Enter your name " autofocus="on" 
        required maxlength="24">
        <i class='bx bxs-user'></i>
    
      </div>
      
      <div class="form_item">
        <label for="title">Blog title:</label>
        <input type="text" name="title" value="<%= post.title %>" id="title" placeholder="Enter a title"
         required >
      </div>
    
      <div class="form_item">
        <label for="desc">Description:</label>
        <input type="text" name="desc" value="<%= post.descr %>" id="desc" placeholder="Enter a description"
          required >
      </div>
    
      <div class="form_item message">
        <textarea name="message" id="message"  placeholder="Write more about your post"  maxlength="200" minlength="" cols="40" rows="6"> 
          <%= post.message %></textarea>   
      </div> 
    
      <div class="form_item button"> 
        <button id="send" type="submit">Update Post</button>
        <button><a href="/posts">Cancel</a></button>
      </div>
      
    </form>
    </div>
  
    </div>
  <% } else { %>

  <div class="center_form ">
<h1 id="form-title">Fill the form below to upload your post</h1>
 <!-- <div class="center_form"> --> 

<div class="form_container" >
<form action="/create" method="post">
  <div class="form_item">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" placeholder="Enter your name " autofocus="on" 
    required maxlength="24">
    <i class='bx bxs-user'></i>

  </div>
  
  <div class="form_item">
    <label for="title">Blog title:</label>
    <input type="text" name="title" id="title" placeholder="Enter a title"
     required >
  </div>

  <div class="form_item">
    <label for="desc">Description:</label>
    <input type="text" name="desc" id="desc" placeholder="Enter a description"
      required >
  </div>

  <div class="form_item message">
    <textarea name="message" id="message" placeholder="Write more about your post"  maxlength="200" minlength="" cols="40" rows="6"> 
    </textarea>
  </div>

  <div class="form_item button"> 
    <button id="send" type="submit">Send</button>
    <button id="reset" ><a href="/">Cancel</a></button>
  </div>
</form>
</div>

<!--  </div> -->

</div>
  
<%} %>
   <!-- *******************  previous code ********************************************* -->

<%- include("partials/footer.ejs") %>